# Terraform state files
*.tfstate
*.tfstate.*
*.terraform.tfstate
# Terraform plan files
*.plan

# Sensitive variable files
*.tfvars
*.tfvars.json

# Terraform lock file
*.terraform.lock.hcl

# Crash logs
crash.log

# Local .terraform directories
.terraform/
**/.terraform/*

# Editor and OS artifacts
.vscode/
.idea/
*.swp
*.bak
*.tmp
.DS_Store
Thumbs.db
